main {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }
}

.gigs-sidebar {
  padding: 10px 20px 40px 20px;
  background-color: #dddddd;
  flex: 1;
  box-shadow: 5px 5px;
}

.gig {
  margin: 30px 0;
}

.gig h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.gig .gig-time {
  margin-bottom: 10px;
}

.gig .button {
  background-color: #a32216;
  transition: background-color 0.3s;
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  margin-top: 10px;
}

.gig .button:hover,
.gig .button:focus {
  background-color: #955c1e;
}

.sections-container {
  flex: 3;
}

main section h2 {
  border-bottom: 2px solid #955c1e;
  background: linear-gradient(to right, #a32216 30%, #fff);
  color: white;
  padding: 10px;
  padding-left: 20px;
}

.section-content {
  padding-left: 20px;
}

.members-table th {
  padding-top: 10px;
}

.members-table tr {
  height: 1.2rem;
}

.members-table td:nth-of-type(2) {
  padding-left: 20px;
}
