main {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }
}

.gigs-sidebar {
  padding: 10px 20px 40px 20px;
  background-color: #dddddd;
  flex: 1;
  box-shadow: 5px 5px;
  border-radius: 3px;
}

.sections-container {
  flex: 3;
}

main section h2 {
  border-bottom: 2px solid #955c1e;
  background: linear-gradient(to right, #a32216 30%, #fff);
  color: white;
  padding: 10px;
  padding-left: 20px;
}

.section-content {
  padding-left: 20px;
}

.members-table tr {
  height: 1.2rem;
}

.members-table td:nth-of-type(2) {
  padding-left: 20px;
}
